<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в систему</title>
    <link rel="stylesheet" href="css/stylesLogin.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/api/v1/index">Главная</a></li>
        <li><a href="/api/v1/lists">Списки</a></li>
        <li><a href="/api/v1/specialities">Специальности</a></li>
    </ul>
</nav>

<main>
    <div class="container">
        <h2>Вход в систему</h2>
        <form action="/login" method="post">
            <label for="username">Логин:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Войти</button>
        </form>

    </div>
</main>

<footer>
    <p>&copy; 2024 Приемная комиссия. Все права защищены.</p>
</footer>
</body>
</html>

