<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация пользователя</title>
    <link rel="stylesheet" href="css/stylesRegistration.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/api/v1/index">Главная</a></li>
        <li><a href="/api/v1/lists">Списки</a></li>
        <li th:if="${isAuthenticated}"><a href="/api/v1/abiturients">Абитуриенты</a></li>
        <li><a href="/api/v1/specialities">Специальности</a></li>
        <li th:if="${isAdmin}"><a href="/api/v1/educations">Учебные заведения</a></li>
        <li th:if="${isAdmin}"><a href="/api/v1/users">Пользователи</a></li>
        <li th:if="${!isAuthenticated}"><a href="/login">Войти</a></li>
        <li th:if="${isAuthenticated}"><a href="/logout">Выйти</a></li>
    </ul>
</nav>
<div class="container">
    <h2>Регистрация пользователя</h2>
    <form action="/registration" method="post">

        <label for="username">Логин:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>

        <label for="role">Роль:</label>
        <select id="role" name="role" required>
            <option value="OPERATOR">Оператор</option>
            <option value="EDITOR">Проверяющий</option>
            <option value="ADMIN">Администратор</option>
        </select>

        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" name="lastName" required>

        <label for="firstName">Имя:</label>
        <input type="text" id="firstName" name="firstName" required>

        <label for="patronymic">Отчество:</label>
        <input type="text" id="patronymic" name="patronymic">

        <button type="submit">Зарегистрироваться</button>
    </form>

</div>
<footer>
    <p>&copy; 2024 Приемная комиссия. Все права защищены.</p>
</footer>
</body>
</html>
